<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arkann">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arkann">
        <activity
            android:name=".gamesList"
            android:exported="true" />
        <activity
            android:name=".SettingsMain"
            android:exported="true" />
        <activity
            android:name=".ImportInit"
            android:exported="true" />
        <activity
            android:name=".TreeFork"
            android:exported="true" />
        <activity
            android:name=".EcoView"
            android:exported="true" />
        <activity
            android:name=".EcoCodesList"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>